modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 180000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3003

[[ports]]
localPort = 8083
externalPort = 5000

[[ports]]
localPort = 8084
externalPort = 5173

[[ports]]
localPort = 8085
externalPort = 6800

[[ports]]
localPort = 21182
externalPort = 8008

[[ports]]
localPort = 21183
externalPort = 8081

[[ports]]
localPort = 21184
externalPort = 9000

[[ports]]
localPort = 22333
externalPort = 3000

[[ports]]
localPort = 22334
externalPort = 3001

[[ports]]
localPort = 22335
externalPort = 3002

[[ports]]
localPort = 22336
externalPort = 6000

[[ports]]
localPort = 22337
externalPort = 8000

[[ports]]
localPort = 22402
externalPort = 8099

[[ports]]
localPort = 23670
externalPort = 4200

[nix]
channel = "stable-25_05"

[userenv]

[userenv.production]
PENTEST_JWT_SECRET = "k26bL+77NKDEjGd+pQENDccTd1jP7jlct/7sJnPCTYqq6mrsEi5U7BVVSMMlfNmV"
PENTEST_CRED_KEY = "c0DwaEmyLQNqs094k8HIZyKx+tP/48XBlsDah+V7HoA="
SITE_GATE_USER = "itsecasia"
SITE_GATE_PASS = "@Its3c@Asia2026"

[userenv.shared]
PIPEDRIVE_API_DOMAIN = "https://itsecaustralia.pipedrive.com"
